body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/images/background.jpg");
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}
*{
    margin-left: 0%;
    margin-right: 0%;
}
a{
    font-weight: 700;
    color: white;
}

#background{
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    border-radius: 30px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .3);
    /* position: fixed; */
}

#forgot-pass{
    font-size: 12px;
    font-style: normal;
}
.fieldName{
    margin-bottom: 0%;
    font-size: 18px;
}
.login-btn-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
#login{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#outer-container{
    margin: auto;
}
#login-btn{
    margin-top: 10px;
    background-color: #003465;
    border: 0;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
}

#login-btn:hover{
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}


.field{
    padding-left: 5%;
    padding-right: 5%;
    width:80%;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}
input{
    align-self: center;
    justify-self: center;
}
.center{
    text-align: center;
}

.button-container{
    width: auto;
    display: grid;
    grid-template-columns: repeat(3,120px);
    align-self: center;
    gap: 5px;
}
.logo-container{
    display: flex;
    justify-content: center;
}
#logo{
    height: 100px;
    border-radius: 10px;
    justify-self: center;
}

#message{
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.container{
    margin: 0%;
    padding: 0%;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background-color: white;
    margin-bottom: 10px;
}

.password-container{
    display: flex;
}

.password-container > img{
    height: 20px;
    justify-self: center;
    align-self: center;
    margin-top: 2px;
    margin-right: 10px;
    opacity: 70%; 
}

.password-container > img:hover{
    opacity: 100%;
    cursor: pointer;
}

.thirdPartyLogin{
    background-color: white;
    border: none;
    height: 50px;
    border-radius: 10px;
}
.thirdPartyLogin:hover{
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
#rectangle{
    border-radius: 10%;
    width: 400px;
    padding-left: 500px;
    padding-right: 500px;
}
#rectangle:not(div > *) {
    filter: blur(20px);

  }
.icon{
    height: 25px;
    width: 25px;
    justify-self: center;
    align-self: center;
    margin-top: 2px;
}
